[submodule "third_party/sputnik"]
	path = third_party/sputnik
	url = https://github.com/google-research/sputnik.git
[submodule "third_party/GAMLP"]
	path = third_party/GAMLP
	url = https://github.com/PKU-DAIR/GAMLP
